# node_modules
node_modules/

# Expo files
.expo/
.expo-shared/

# Logs
logs/
*.log
npm-debug.log*
expo-debug.log*

# Yarn Integrity file
.yarn-integrity

# Optional npm cache directory
.npm/

# Optional dotenv environment variable file
.env

# MacOS files
.DS_Store

# Android & iOS build artifacts
*.apk
*.apkg
*.aar
*.ipa
.DS_Store

# Build directory
build/
